<div class='container'>
  <p style='color: green'><%= notice %></p>
  <h1><%= t PairNickname.model_name.human %></h1>
  <%= render @pair_nickname %>
  <%= render 'admin/shared/show_actions', object: @pair_nickname %>
</div>
